# Time Series Basics with Pandas

Hi Guys, Welcome to [Tirendaz Academy](https://youtube.com/c/tirendazacademy) üòÄ
</br>
In this notebook, I'm going to talk about time series basics with Pandas.
</br>
Happy learning üê±‚Äçüèç

## What is the time series?

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
date=[datetime(2020,1,5),
      datetime(2020,1,10),
      datetime(2020,1,15),
      datetime(2020,1,20),
      datetime(2020,1,25)]

In [4]:
ts=pd.Series(np.random.randn(5),index=date)
ts

2020-01-05   -0.988116
2020-01-10    0.072625
2020-01-15   -1.029843
2020-01-20    0.411006
2020-01-25   -1.948989
dtype: float64

In [5]:
ts.index

DatetimeIndex(['2020-01-05', '2020-01-10', '2020-01-15', '2020-01-20',
               '2020-01-25'],
              dtype='datetime64[ns]', freq=None)

## Time Series Data Structures

In [6]:
pd.to_datetime("01/01/2020")

Timestamp('2020-01-01 00:00:00')

In [7]:
dates=pd.to_datetime(
    [datetime(2020,7,5),
     "6th of July, 2020",
     "2020-Jul-7",
     "20200708"])
dates

DatetimeIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='datetime64[ns]', freq=None)

In [10]:
dates.to_period("D")

PeriodIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='period[D]')

In [11]:
dates-dates[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq=None)

## Creating a Time Series

In [12]:
pd.date_range("2020-08-15","2020-09-01")

DatetimeIndex(['2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
               '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
               '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
               '2020-08-31', '2020-09-01'],
              dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range('2020-07-15', periods=10)

DatetimeIndex(['2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18',
               '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
               '2020-07-23', '2020-07-24'],
              dtype='datetime64[ns]', freq='D')

In [15]:
pd.date_range("2020-07-15",
              periods=10,
              freq="h")

DatetimeIndex(['2020-07-15 00:00:00', '2020-07-15 01:00:00',
               '2020-07-15 02:00:00', '2020-07-15 03:00:00',
               '2020-07-15 04:00:00', '2020-07-15 05:00:00',
               '2020-07-15 06:00:00', '2020-07-15 07:00:00',
               '2020-07-15 08:00:00', '2020-07-15 09:00:00'],
              dtype='datetime64[ns]', freq='h')

In [16]:
pd.period_range("2020-10", 
                periods=10,
                freq="M")

PeriodIndex(['2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
             '2021-04', '2021-05', '2021-06', '2021-07'],
            dtype='period[M]')

In [18]:
pd.timedelta_range(0,periods=8,freq="h")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='h')

In [22]:
stamp=ts.index[1]
stamp

Timestamp('2020-01-10 00:00:00')

In [23]:
ts[stamp]

np.float64(0.07262480623032497)

In [24]:
ts["25.1.2020"]

np.float64(-1.948989375781876)

In [25]:
ts["20200125"]

np.float64(-1.948989375781876)

In [28]:
long_ts=pd.Series(
    np.random.randn(1000),
    index=pd.date_range("1/1/2020",
                        periods=1000))
long_ts.head()

2020-01-01   -2.256278
2020-01-02    0.397952
2020-01-03   -0.964401
2020-01-04    0.515471
2020-01-05    1.220591
Freq: D, dtype: float64

In [30]:
long_ts["2020"].head()

2020-01-01   -2.256278
2020-01-02    0.397952
2020-01-03   -0.964401
2020-01-04    0.515471
2020-01-05    1.220591
Freq: D, dtype: float64

In [31]:
long_ts["2020-10"].head(15)

2020-10-01   -0.339287
2020-10-02   -0.614654
2020-10-03    1.275018
2020-10-04    1.144183
2020-10-05   -1.111732
2020-10-06   -1.193512
2020-10-07    0.040218
2020-10-08    0.891768
2020-10-09    1.212005
2020-10-10   -0.454561
2020-10-11   -1.061001
2020-10-12    0.812681
2020-10-13    0.401044
2020-10-14    0.566468
2020-10-15   -0.314693
Freq: D, dtype: float64

In [32]:
long_ts[datetime(2022,9,20):]

2022-09-20    0.615397
2022-09-21    1.722182
2022-09-22    0.583345
2022-09-23    0.125039
2022-09-24   -0.903543
2022-09-25   -0.289411
2022-09-26   -0.176252
Freq: D, dtype: float64

## The Important Methods Used in Time Series

In [33]:
ts

2020-01-05   -0.988116
2020-01-10    0.072625
2020-01-15   -1.029843
2020-01-20    0.411006
2020-01-25   -1.948989
dtype: float64

In [47]:
# ts.truncate(after="x") 
# Devolve todos os dados na s√©rie temporal que ocorreram antes ou no dia x.
ts.truncate(after="1/15/2020")

2020-01-05   -0.988116
2020-01-10    0.072625
2020-01-15   -1.029843
dtype: float64

In [48]:
date=pd.date_range("1/1/2020",
                   periods=100,
                   freq="W-SUN")
date

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27',
               '2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19', '2021-09-26', '2021-10-03',
               '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
               '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28'],
              dtype='datetime64[ns]', freq='W-SUN')

In [45]:
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=date,
                    columns=list("ABCD"))
long_df.head()

                   A         B         C         D
2020-01-05 -0.079981 -0.048832  0.215078 -1.332635
2020-01-12  0.284091  1.073529  1.005897  0.513175
2020-01-19  1.090878 -0.589011 -1.291211  0.180910
2020-01-26  0.166256  0.151188  0.991764  0.553769
2020-02-02 -0.814594 -1.280202  0.246732 -0.470599

In [55]:
#long_df["2020-10"] da erro 
long_df.loc["2020-10"]

                   A         B         C         D
2020-10-04 -0.209313 -1.043215 -0.820633 -3.071876
2020-10-11  1.352164 -1.162914  0.315002 -0.689707
2020-10-18 -0.188030  0.125051  0.946718  0.348070
2020-10-25 -0.245234  0.200267  0.342111  0.087766

In [56]:
date=pd.DatetimeIndex(
    ["1/1/2020","1/2/2020","1/2/2020",
     "1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5),index=date)
ts1

2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int64

In [57]:
ts1.index.is_unique

False

In [58]:
group=ts1.groupby(level=0)

In [59]:
group.count()

2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [60]:
group.mean()

2020-01-01    0.0
2020-01-02    2.0
2020-01-03    4.0
dtype: float64

Don't forget to follow us on [YouTube](http://youtube.com/tirendazacademy) | [Medium](http://tirendazacademy.medium.com) | [Twitter](http://twitter.com/tirendazacademy) | [GitHub](http://github.com/tirendazacademy) | [Linkedin](https://www.linkedin.com/in/tirendaz-academy) | [Kaggle](https://www.kaggle.com/tirendazacademy) üòé