# Working with Methods in Pandas - Part 2

Hi Guys, Welcome to [Tirendaz Academy](https://youtube.com/c/tirendazacademy) üòÄ
</br>
In this notebook, I'm going to talk about working with time series in Pandas
</br>
Happy learning üê±‚Äçüèç

In [1]:
import pandas as pd  
import numpy as np

## to_datetime method

In [6]:
pd.to_datetime("15/08/2019",dayfirst=True)

Timestamp('2019-08-15 00:00:00')

In [7]:
date=["2019-01-05","jan 6, 2019",
      "7/05/2019","2019/01/9","20190110"]

In [9]:
# format='mixed' para lidar com formatos inconsistentes
pd.to_datetime(date,format='mixed')

DatetimeIndex(['2019-01-05', '2019-01-06', '2019-07-05', '2019-01-09',
               '2019-01-10'],
              dtype='datetime64[ns]', freq=None)

In [12]:
pd.to_datetime("03/05/2019")

Timestamp('2019-03-05 00:00:00')

In [13]:
pd.to_datetime("05/03/2019", dayfirst=True)

Timestamp('2019-03-05 00:00:00')

In [10]:
pd.to_datetime("05*03*2019", 
               format="%d*%m*%Y" )

Timestamp('2019-03-05 00:00:00')

In [14]:
date=["2019-01-05",
     "jan 6, 2019",
     "7/05/2019",
     "2019/01/9",
     "20190110"]

In [16]:
# format='mixed' para lidar com formatos inconsistentes
pd.to_datetime(date,format="mixed")

DatetimeIndex(['2019-01-05', '2019-01-06', '2019-07-05', '2019-01-09',
               '2019-01-10'],
              dtype='datetime64[ns]', freq=None)

In [18]:
# pd.to_datetime(date, errors='coerce')
# Usa 'mixed' para inferir o formato de cada elemento e 'dayfirst=True' para resolver a ambiguidade
pd.to_datetime(date, format='mixed', dayfirst=True)

DatetimeIndex(['2019-01-05', '2019-01-06', '2019-05-07', '2019-01-09',
               '2019-01-10'],
              dtype='datetime64[ns]', freq=None)

In [21]:
t=1000000000

In [22]:
pd.to_datetime(t, unit="s")

Timestamp('2001-09-09 01:46:40')

## Frequency and Date Offsets

In [24]:
pd.date_range(
    "2010-01-01","2010-01-03", freq="4h")

DatetimeIndex(['2010-01-01 00:00:00', '2010-01-01 04:00:00',
               '2010-01-01 08:00:00', '2010-01-01 12:00:00',
               '2010-01-01 16:00:00', '2010-01-01 20:00:00',
               '2010-01-02 00:00:00', '2010-01-02 04:00:00',
               '2010-01-02 08:00:00', '2010-01-02 12:00:00',
               '2010-01-02 16:00:00', '2010-01-02 20:00:00',
               '2010-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4h')

In [26]:
# freq="WOM-4SUN"
# WOM: Significa "Week Of Month" (Semana do M√™s).
#4: Indica a quarta ocorr√™ncia daquele dia da semana no m√™s.
# SUN: Indica o Dia da Semana (Domingo, em ingl√™s).
pd.date_range(
    "2010-01-01","2010-09-03", 
    freq="WOM-4SUN")

DatetimeIndex(['2010-01-24', '2010-02-28', '2010-03-28', '2010-04-25',
               '2010-05-23', '2010-06-27', '2010-07-25', '2010-08-22'],
              dtype='datetime64[ns]', freq='WOM-4SUN')

## Period and PeriodIndex

In [27]:
p=pd.Period(2020)
p

Period('2020', 'Y-DEC')

In [35]:
# Lista todos os metodos/parametros da classe Period 
dir(p)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [36]:
p.start_time

Timestamp('2020-01-01 00:00:00')

In [37]:
p.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [38]:
a=pd.Period("2020-01", freq="M")
a

Period('2020-01', 'M')

In [39]:
a+5

Period('2020-06', 'M')

In [40]:
a-3

Period('2019-10', 'M')

In [42]:
p-pd.Period("2015")

In [43]:
rng=pd.period_range(
    "2019-01-01","2019-08-30",freq="M")
rng

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08'],
            dtype='period[M]')

In [44]:
pd.Series(range(8),index=rng)

2019-01    0
2019-02    1
2019-03    2
2019-04    3
2019-05    4
2019-06    5
2019-07    6
2019-08    7
Freq: M, dtype: int64

In [46]:
# Cria um objeto Period que representa o ano inteiro de 2019 (de 1 de janeiro a 31 de dezembro). 
# A √¢ncora do per√≠odo √© Y-DEC (fim do ano em dezembro).
p=pd.Period("2019",freq="Y-DEC")
p

Period('2019', 'Y-DEC')

In [47]:
# .asfreq('M', ...): Converte a frequ√™ncia do per√≠odo de anual para mensal ('M').
# how='start' alinha o novo per√≠odo mensal com o in√≠cio do per√≠odo original.
p.asfreq('M', how='start')

Period('2019-01', 'M')

In [48]:
p.asfreq("M",how="end")

Period('2019-12', 'M')

In [51]:
p=pd.Period("2019Q4", freq="Q-DEC")
p

Period('2019Q4', 'Q-DEC')

In [52]:
p=pd.Period("2019Q4", freq="Q-FEB")
p

Period('2019Q4', 'Q-FEB')

In [53]:
p.end_time

Timestamp('2019-02-28 23:59:59.999999999')

In [54]:
p.asfreq('D', 'start')

Period('2018-12-01', 'D')

In [55]:
rng=pd.period_range(
    "2019Q3","2020Q4", freq="Q-JAN")
rng

PeriodIndex(['2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4'], dtype='period[Q-JAN]')

In [56]:
ts=pd.Series(range(len(rng)),index=rng)
ts

2019Q3    0
2019Q4    1
2020Q1    2
2020Q2    3
2020Q3    4
2020Q4    5
Freq: Q-JAN, dtype: int64

In [59]:
rng=pd.date_range(
    "2020-01-01", periods=5, freq="ME")
rng

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='ME')

In [60]:
ts=pd.Series(range(len(rng)),index=rng)
ts

2020-01-31    0
2020-02-29    1
2020-03-31    2
2020-04-30    3
2020-05-31    4
Freq: ME, dtype: int64

In [61]:
pts=ts.to_period()
pts.index

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05'], dtype='period[M]')

In [62]:
pts.index

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05'], dtype='period[M]')

Don't forget to follow us on [YouTube](http://youtube.com/tirendazacademy) | [Medium](http://tirendazacademy.medium.com) | [Twitter](http://twitter.com/tirendazacademy) | [GitHub](http://github.com/tirendazacademy) | [Linkedin](https://www.linkedin.com/in/tirendaz-academy) | [Kaggle](https://www.kaggle.com/tirendazacademy) üòé